@using PunchClock.Domain.Model.Constants
@using PunchClock.UI.Web.Helpers
@model PunchClock.Domain.Model.Company
@{
    var registrationCode = CompanyHelper.NewRegistrationCode();
    ViewBag.Title = "Details";
}

@using (Html.BeginForm("Register", "Company", null, FormMethod.Post,
    new { enctype = "multipart/form-data",  @class = "form-horizontal" }))
{
    <div class="col-lg-12 form-horizontal">
        <div class="panel panel-success panel-nomargin">
            <div class="panel-body">Company Details</div>
        </div>
        <div class="well">
            <fieldset>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(x => x.Name).HtmlAttributes(new {@class = "form-control", placeholder= RegistrationPlacehoder.CompanyName, title = RegistrationTooltip.CompanyName})
                        @Html.ValidationMessageFor(x => x.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(x => x.RegisterCode).Value(registrationCode).HtmlAttributes(new {@class = "form-control", @readonly = "readonly", placeholder = RegistrationPlacehoder.RegistrationCode, title = RegistrationTooltip.RegistrationCode})
                        @Html.ValidationMessageFor(x => x.Name, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        @Html.Kendo().EditorFor(x => x.Summary).HtmlAttributes(new { @class = "form-control", placeholder = RegistrationPlacehoder.CompanySummary, title = RegistrationTooltip.CompanySummary })
                        @Html.ValidationMessageFor(x => x.Summary, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        @Html.Kendo().Upload().Multiple(false).Validation(x=>x.AllowedExtensions(new [] {".gif",".jpg",".png"}).MaxFileSize(3145728)).Name("logo").HtmlAttributes(new {id = "fileUploader", @class = "form-control", placeholder = RegistrationPlacehoder.CompanyLogo, title = RegistrationTooltip.CompanyLogo })
                        @Html.ValidationMessageFor(x => x.LogoUrl, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-lg-6">
                        @(Html.Kendo().NumericTextBoxFor(x=>x.DeltaPunchTime)
                              .Format("0")
                              .Min(0)
                              .Max(30)
                              .Step(5)
                              .Value(5)
                              .HtmlAttributes(new {@class = "", style = "width: 100%", title = RegistrationTooltip.CompanyPunchDelta}).Placeholder(RegistrationPlacehoder.CompanyPunchDelta))
                        @Html.ValidationMessageFor(x => x.DeltaPunchTime, "", new {@class = "text-danger"})
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-12 form-horizontal">
        <div class="panel panel-success panel-nomargin">
            <div class="panel-body">Branding</div>
        </div>
        <div class="well">
            <div class="form-group">
                <div class="col-lg-6">
                    @Html.Kendo().TextBoxFor(x => x.BrandDisplayName).HtmlAttributes(new {@class = "form-control", placeholder= RegistrationPlacehoder.CompanyName, title = RegistrationTooltip.CompanyName})
                    @Html.ValidationMessageFor(x => x.BrandDisplayName, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6">
                    @Html.Kendo().TextBoxFor(x => x.Website).Value(registrationCode).HtmlAttributes(new {@class = "form-control", @readonly = "readonly", placeholder = RegistrationPlacehoder.RegistrationCode, title = RegistrationTooltip.RegistrationCode})
                    @Html.ValidationMessageFor(x => x.Website, "", new {@class = "text-danger"})
                </div>
            </div>
        </div>
        <div class="">
            <input type="submit" value="Save" class="btn btn-primary" />
            <input type="submit" value="Cancel" class="btn btn-primary" onclick="location.href = '/';" />
        </div>
    </div>
}

<div class="col-lg-12" style="margin-top: 20px;">
    <div class="panel panel-success panel-nomargin">
        <div class="panel-body">Invite(s)</div>
    </div>
    <div class="well">
        @Html.Partial("_EmployeeInvite")
    </div>
</div>

<script>
    function filterStates() {
        return {
            id: $("#CreatedBy_RegistrationAddress_CountryId").val()
        };
    }
   
</script>