@using PunchClock.Domain.Model.Constants
@using PunchClock.UI.Web.Helpers
@model PunchClock.Domain.Model.CompanyRegister
@{
    var registrationCode = CompanyHelper.NewRegistrationCode();
    ViewBag.Title = "Company Registration";
}

@using (Html.BeginForm("Register", "Company", null, FormMethod.Post,
new { enctype = "multipart/form-data",  @class = "form-horizontal" }))
{
    <div class="col-lg-12 form-horizontal">
        <div class="panel panel-success panel-nomargin">
            <div class="panel-body">Company Details</div>
        </div>
        <div class="well">
            <fieldset>
                @Html.ValidationSummary()
                <div class="form-group">
                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(x => x.Company.Name).HtmlAttributes(new {@class = "form-control", placeholder= RegistrationPlacehoder.CompanyName, title = RegistrationTooltip.CompanyName})
                        @Html.ValidationMessageFor(x => x.Company.Name, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(x => x.Company.RegisterCode).Value(registrationCode).HtmlAttributes(new {@class = "form-control", @readonly = "readonly", placeholder = RegistrationPlacehoder.RegistrationCode, title = RegistrationTooltip.RegistrationCode})
                        @Html.ValidationMessageFor(x => x.Company.Name, "", new {@class = "text-danger"})
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-12">
                        @Html.Kendo().EditorFor(x => x.Company.Summary).HtmlAttributes(new { @class = "form-control", placeholder = RegistrationPlacehoder.CompanySummary, title = RegistrationTooltip.CompanySummary })
                        @Html.ValidationMessageFor(x => x.Company.Summary, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        @Html.Kendo().Upload().Multiple(false).Validation(x=>x.AllowedExtensions(new [] {".gif",".jpg",".png"}).MaxFileSize(3145728)).Name("logo").HtmlAttributes(new {id = "fileUploader", @class = "form-control", placeholder = RegistrationPlacehoder.CompanyLogo, title = RegistrationTooltip.CompanyLogo })
                        @Html.ValidationMessageFor(x => x.Company.LogoUrl, "", new {@class = "text-danger"})
                    </div>
                    <div class="col-lg-6">
                        @(Html.Kendo().NumericTextBoxFor(x=>x.Company.DeltaPunchTime)
                              .Format("0")
                              .Min(0)
                              .Max(30)
                              .Step(5)
                              .Value(5)
                              .HtmlAttributes(new {@class = "", style = "width: 100%", title = RegistrationTooltip.CompanyPunchDelta}).Placeholder(RegistrationPlacehoder.CompanyPunchDelta))
                        @Html.ValidationMessageFor(x => x.Company.DeltaPunchTime, "", new {@class = "text-danger"})
                    </div>
                </div>
            </fieldset>
        </div>
    </div>

    <div class="col-lg-12 form-horizontal">
        <div class="panel panel-success panel-nomargin">
            <div class="panel-body">User Details</div>
        </div>
        <div class="well">
            <fieldset>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(x => x.CreatedBy.FirstName).Value("").HtmlAttributes(new { @class = "form-control", placeholder = RegistrationPlacehoder.FirstName, title = RegistrationTooltip.FirstName })
                        @Html.ValidationMessageFor(x => x.CreatedBy.FirstName, "", new { @class = "text-danger" })
                    </div>

                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(x => x.CreatedBy.LastName).HtmlAttributes(new { @class = "form-control", placeholder = RegistrationPlacehoder.LastName, title = RegistrationTooltip.LastName })
                        @Html.ValidationMessageFor(x => x.CreatedBy.LastName, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(x => x.CreatedBy.Email).HtmlAttributes(new { @class = "form-control", placeholder = RegistrationPlacehoder.Email, title = RegistrationTooltip.Email })
                        @Html.ValidationMessageFor(x => x.CreatedBy.Email, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(x => x.CreatedBy.PhoneNumber).HtmlAttributes(new { @class = "form-control", placeholder = RegistrationPlacehoder.PhoneNumber, title = RegistrationTooltip.PhoneNumber })
                        @Html.ValidationMessageFor(x => x.CreatedBy.PhoneNumber, "", new { @class = "text-danger" })
                    </div>

                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(x => x.CreatedBy.UserName).HtmlAttributes(new { @class = "form-control", placeholder = RegistrationPlacehoder.UserName, title = RegistrationTooltip.UserName })
                        @Html.ValidationMessageFor(x => x.CreatedBy.UserName, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(x => x.CreatedBy.Password).HtmlAttributes(new { id = "userPassword", required = "required", @class = "form-control", type = "password", placeholder = RegistrationPlacehoder.Password, title = RegistrationTooltip.Password })
                        @Html.ValidationMessageFor(x => x.CreatedBy.Password, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-6">
                        @Html.Kendo().TextBoxFor(x => x.CreatedBy.RegistrationCode).Value(registrationCode).HtmlAttributes(new { @class = "form-control", @readonly = "readonly", placeholder = RegistrationPlacehoder.RegistrationCode, title = RegistrationTooltip.RegistrationCode })
                        @Html.ValidationMessageFor(x => x.CreatedBy.RegistrationCode, "", new { @class = "text-danger" })
                    </div>
                    <div class="col-lg-6">
                        @Html.Kendo().ComboBoxFor(x => x.CreatedBy.UserTypeId).Value(Convert.ToString((int)PunchClock.Domain.Model.Enum.UserType.CompanyAdmin)).DataSource(x => x.Read("Types", "User")).DataValueField("Id").DataTextField("Description").HtmlAttributes(new { @class = "form-control", title = RegistrationTooltip.UserType, @readonly = "readonly" }).Placeholder(RegistrationPlacehoder.UserType)
                        @Html.ValidationMessageFor(x => x.CreatedBy.UserTypeId, "", new { @class = "text-danger"})
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
    <div class="col-lg-12 form-horizontal">
        <div class="panel panel-success panel-nomargin">
            <div class="panel-body">Address</div>
        </div>
        <div class="well">
            <div class="form-group">
                <div class="col-lg-6">
                    @Html.Kendo().TextBoxFor(x => x.CreatedBy.RegistrationAddress.Address1).HtmlAttributes(new { @class = "form-control", placeholder = RegistrationPlacehoder.Address1, title = RegistrationTooltip.Address1 })
                    @Html.ValidationMessageFor(x => x.CreatedBy.RegistrationAddress.Address1, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6">
                    @Html.Kendo().TextBoxFor(x => x.CreatedBy.RegistrationAddress.Address2).HtmlAttributes(new { @class = "form-control", placeholder = RegistrationPlacehoder.Address2, title = RegistrationTooltip.Address2 })
                    @Html.ValidationMessageFor(x => x.CreatedBy.RegistrationAddress.Address1, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6">
                    @Html.Kendo().TextBoxFor(x => x.CreatedBy.RegistrationAddress.City).HtmlAttributes(new { @class = "form-control", placeholder = RegistrationPlacehoder.City, title = RegistrationTooltip.City })
                    @Html.ValidationMessageFor(x => x.CreatedBy.RegistrationAddress.City, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6">
                    @Html.Kendo().DropDownListFor(x => x.CreatedBy.RegistrationAddress.CountryId).Filter(FilterType.Contains).DataSource(x => x.Read(r => r.Action("Countries", "User")).ServerFiltering(true)).DataValueField("Id").DataTextField("Name").OptionLabel(RegistrationPlacehoder.Country).HtmlAttributes(new { @class = "form-control regDropdown", required = "required", style = "width:100%;", placeholder = RegistrationPlacehoder.Country, title = RegistrationTooltip.Country })
                    @Html.ValidationMessageFor(x => x.CreatedBy.RegistrationAddress.CountryId, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-6">
                    @Html.Kendo().ComboBoxFor(x => x.CreatedBy.RegisteredTimeZone).DataSource(x => x.Read("Zones", "User")).DataValueField("Id").DataTextField("Id").Value(ConfigHelper.DefaultTimezone()).HtmlAttributes(new { @class = "k-dropdownTimeZones form-control", required = "required", title = RegistrationTooltip.Timezone }).Placeholder(RegistrationPlacehoder.Timezone)
                    @Html.ValidationMessageFor(x => x.CreatedBy.RegisteredTimeZone, "", new { @class = "text-danger" })
                </div>
                <div class="col-lg-6">
                    @Html.Kendo().DropDownListFor(x => x.CreatedBy.RegistrationAddress.StateId).DataSource(x => x.Read(r => r.Action("States", "User").Data("filterStates")).ServerFiltering(true)).DataValueField("Id").DataTextField("Name").CascadeFrom("CreatedBy_RegistrationAddress_CountryId").Enable(false).AutoBind(false).HtmlAttributes(new { @class = "form-control regDropdown", style = "width:100%;", required = "required", placeholder = RegistrationPlacehoder.State, title = RegistrationTooltip.State })
                    @Html.ValidationMessageFor(x => x.CreatedBy.RegistrationAddress.StateId, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="">
            <input type="submit" value="Register" class="btn btn-primary" />
            <input type="submit" value="Cancel" class="btn btn-primary" onclick="location.href = '/';" />
        </div>
    </div>
}
<script>
    function filterStates() {
        return {
            id: $("#CreatedBy_RegistrationAddress_CountryId").val()
        };
    }
   
</script>