@using System.Web.UI.WebControls
@using Microsoft.AspNet.Identity
@using Microsoft.CodeAnalysis.CSharp.Syntax
@using PunchClock.UI.Web.Controllers
@using PunchClock.UI.Web.Helpers
@model PunchClock.Cms.Model.Article
@{
    ViewBag.Title = "New Article";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@Html.Raw((string)ViewBag.Message)</h2>
</hgroup>
<div class="clearFloat"></div>
<hr />

<div class="col-lg-12  form-horizontal">
    <div class="well">
        @using (Ajax.BeginForm("AddNewArticle", "Article", null,
            new AjaxOptions {OnSuccess = "postResponseAddArticle" },
            new {@class = "form-horizontal"}))
        {
            <fieldset>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                <div class="form-group">
                    @Html.Label("Title", new {@class = "col-lg-2 control-label"})
                    <div class="col-lg-10">
                        @Html.Kendo().TextBoxFor(x => x.Title).Value("")
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Description", new {@class = "col-lg-2 control-label"})
                    <div class="col-lg-10">
                        @Html.Kendo().EditorFor(x => x.Description).Encode(false).Tools(tools => tools
                        .Clear()
                        .Formatting()
                        .Bold().Italic().Underline().Strikethrough()
                        .JustifyLeft().JustifyCenter().JustifyRight().JustifyFull()
                        .InsertUnorderedList().InsertOrderedList()
                        .CreateLink().Unlink().InsertImage()
                        .TableEditing()
                        .FontColor().BackColor()
                        .ViewHtml()
                        )
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Tags", new {@class = "col-lg-2 control-label"})
                    <div class="col-lg-10">
                        @Html.Kendo().MultiSelectFor(x => x.Tags).DataTextField("Name").DataValueField("Id").TagMode(TagMode.Multiple).HtmlAttributes(new {placeholder = "Select a Tag"}).DataSource(x => x.Read("Tags", "Article"))
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Category", new {@class = "col-lg-2 control-label"})
                    <div class="col-lg-10">
                        @Html.Kendo().ComboBoxFor(x => x.CategoryId).DataTextField("Name").DataValueField("Id").Suggest(true).DataSource(x => x.Read("Categories", "Article"))
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("IsPublished", new {@class = "col-lg-2 control-label"})
                    <div class="col-lg-10">
                        @Html.Kendo().CheckBoxFor(x => x.IsPublished)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("IsPrivate", new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.Kendo().CheckBoxFor(x => x.IsPrivate)
                    </div>
                </div>

                <div class="col-lg-10 col-lg-offset-2">
                    <input type="submit" value="Save as Draft" class="btn btn-primary"/>
                    <input type="submit" value="Submit" class="btn btn-primary"/>
                </div>
            </fieldset>
        }
    </div>
</div>