@using Microsoft.AspNet.Identity
@using PunchClock.UI.Web.Helpers
@model PunchClock.Cms.Model.Article
@{
    ViewBag.Title = "Edit Article";
}
<hgroup class="title">
    <h1>@ViewBag.Title</h1>
    <h2>@Html.Raw((string)ViewBag.Message)</h2>
</hgroup>
<div class="clearFloat"></div>
<hr />

<div class="col-lg-12  form-horizontal">
    <div class="well">
        @using (Ajax.BeginForm("Update", "Article", null,
                new AjaxOptions { OnSuccess = "postResponseArticleUpdate" },
                new { @class = "form-horizontal" }))
        {
            <fieldset>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(x => x.Id)
                <div class="form-group">
                    @Html.Label("Title", new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.Kendo().TextBoxFor(x => x.Title)
                    </div>
                </div>
                <div class="form-group">
                    @Html.Label("Description", new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.Kendo().EditorFor(x => x.Description)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Tags", new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.Kendo().MultiSelectFor(x => x.Tags).DataTextField("Text").DataValueField("Value").TagMode(TagMode.Multiple).HtmlAttributes(new { placeholder = "Select a Tag" }).BindTo(ArticleHelpers.GetTagsByComapnyIdList(User.Identity.GetUserId()))
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("Category", new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.Kendo().ComboBoxFor(x => x.CategoryId).DataTextField("Text").DataValueField("Value").Suggest(true).BindTo(ArticleHelpers.GetCategoriesByCompanyList(User.Identity.GetUserId()))
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("IsPublished", new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.Kendo().CheckBoxFor(x => x.IsPublished)
                    </div>
                </div>

                <div class="form-group">
                    @Html.Label("IsPrivate", new { @class = "col-lg-2 control-label" })
                    <div class="col-lg-10">
                        @Html.Kendo().CheckBoxFor(x => x.IsPrivate)
                    </div>
                </div>

                <div class="col-lg-10 col-lg-offset-2">
                    <input type="submit" value="Save as Draft" class="btn btn-primary" />
                    <input type="submit" value="Submit" class="btn btn-primary" />
                </div>
            </fieldset>
        }
    </div>
</div>