@model PunchClock.Objects.Core.CompanyObjLibrary
@{
    ViewBag.Title = "Company Details";
    string strCompanyId = Convert.ToString(ViewBag.CompanyId);
}
<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@Html.Raw((string)ViewBag.Message)</h2>
</hgroup>
<hr />

<div class="wrapper">
        <div id="tabstrip">
            <ul>
                <li class="k-state-active">Details</li>
                <li>Emp Type Vs. Holi Paid</li>
                <li>Holidays</li>
                <li>Employees</li>
            </ul>
        </div>
    </div>

<script>
    $(document).ready(function () {
        $("#tabstrip").kendoTabStrip({
            animation: { open: { effects: "fadeIn" } },
            contentUrls: [
                "@Url.Action("Edit", "Employer", new { id = strCompanyId })",
                 "@Url.Action("PaidHolidayPkg", "Employer", new { id = strCompanyId })",
                  "@Url.Action("SetHolidays", "Employer", new { id = strCompanyId })",
                  "@Url.Action("Employees", "Employer", new { id = strCompanyId })"
            ]
        });
    });

</script>

<style>
    #tabstrip-4 {
        padding:0px;
    }
</style>