<ul class="nav navbar-nav">
    
    @foreach (var item in (IEnumerable<PunchClock.Domain.Model.SiteMenu>)ViewBag.Menu)
    {
        if (item.Children.Any())
        {
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#" id="themes"> @item.Name <span class="caret"></span></a>
                <ul class="dropdown-menu" aria-labelledby="themes">
                    @foreach (var child in item.Children)
                    {
                        if (child.OnAuthorizationOnly && User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink(child.Name, child.Action, child.Controller, null, null)
                            </li>
                        }
                        else if(!child.OnAuthorizationOnly && !User.Identity.IsAuthenticated)
                        {
                            <li>
                                @Html.ActionLink(child.Name, child.Action, child.Controller, null, null)
                            </li>
                        }
                    }
                </ul>
            </li>
        }
        else
        {
            if (item.OnAuthorizationOnly && User.Identity.IsAuthenticated)
            {
                <li>
                    @Html.ActionLink(item.Name, item.Action, item.Controller, null, null)
                </li>
            }
            else if (!item.OnAuthorizationOnly && !User.Identity.IsAuthenticated)
            {
                <li>
                    @Html.ActionLink(item.Name, item.Action, item.Controller, null, null)
                </li>
            }
        }
    }
</ul>